.footer{

background:#0f172a;

color:white;

padding:80px 8% 30px;

}

.footer-container{

display:grid;

grid-template-columns:2fr 1fr 1fr 1fr;

gap:40px;

margin-bottom:50px;

}

.footer h2{

margin-bottom:15px;

}

.footer p{

color:#cbd5e1;

line-height:1.8;

}

.footer h3{

margin-bottom:20px;

}

.footer ul{

list-style:none;

padding:0;

}

.footer li{

margin-bottom:12px;

color:#cbd5e1;

cursor:pointer;

transition:.3s;

}

.footer li:hover{

color:white;

}

.socials{

display:flex;

gap:20px;

font-size:24px;

}

.socials svg{

cursor:pointer;

transition:.3s;

}

.socials svg:hover{

transform:translateY(-5px);

color:#38bdf8;

}

.copyright{

border-top:1px solid rgba(255,255,255,.1);

padding-top:25px;

text-align:center;

color:#94a3b8;

}

@media(max-width:900px){

.footer-container{

grid-template-columns:1fr 1fr;

}

}

@media(max-width:600px){

.footer-container{

grid-template-columns:1fr;

text-align:center;

}

.socials{

justify-content:center;

}
.task-credit{
    margin-top:8px;
    font-size:14px;
    opacity:.8;
}

.task-credit a{
    color:inherit;
    text-decoration:underline;
}
}