.statistics{

padding:120px 8%;

background:#0f172a;

color:white;

}

.stats-heading{

text-align:center;

max-width:700px;

margin:auto;

margin-bottom:70px;

}

.stats-heading h2{

font-size:48px;

margin-bottom:18px;

}

.stats-heading p{

color:#cbd5e1;

font-size:18px;

line-height:1.8;

}

.stats-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}

.stat-card{

background:#1e293b;

padding:40px 25px;

border-radius:22px;

text-align:center;

transition:.35s;

}

.stat-card:hover{

transform:translateY(-10px);

background:#2563eb;

}

.stat-icon{

font-size:40px;

margin-bottom:25px;

}

.stat-card h3{

font-size:42px;

margin-bottom:12px;

}

.stat-card p{

color:#e2e8f0;

}

@media(max-width:992px){

.stats-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.stats-heading h2{

font-size:34px;

}

.stats-grid{

grid-template-columns:1fr;

}

}