.dashboard-layout{
display:flex;
height:100vh;
background:#f5f7fb;
}

.dashboard-main{
flex:1;
display:flex;
flex-direction:column;
overflow:hidden;
}

.dashboard-page{
padding:35px;
overflow-y:auto;
flex:1;
}